.btn-danger {
    margin-left: 10px;
}
#header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#titulo,
#ira-mp {
    text-align: center;
}

#container {
    margin-bottom: 400px;
}

#ira-mp {
    float: right;
}

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
    text-align: center;
    background-color:silver;
}

.row.g-3 {
    padding-bottom: 0.5rem !important;
}
.g-3,
.gy-3 {
    --bs-gutter-y: 0.25rem !important;
}